{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  
    <button type="submit">
      Add asset
    </button>
  
</form>



    <h3>assets list:</h3>
    {% if assets %}
    {% for asset in assets %}
    <div>
      <div>
        <div>
          <div><div><a href="{% url 'asset' asset.id %}">{{ asset.product }}</a></div></div>
          <div><div><a href="{% url 'asset_update' asset.id %}">Edit</a> <a href="{% url 'asset_delete' asset.id %}">Delete</a></div></div>
        </div>
      </div>
      

     

    </div>
    
  {% endfor %}
  {% else %}
    <p>You don't have any assets. </p>
    
  {% endif %}  
  
{% endblock %}
  