
{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Добавить продажи {% endblock %}
{% block h %} Добавить продажи {% endblock %}
{% block content %}
    

{% load static %}
<script type="text/javascript" src="{% static 'js/add_sales2.js' %}"></script>

<script type="text/javascript">
let state = {};
  $.get("{% url 'get_internet_products' %}", function(data) {
      state = data;
      Object.keys(state).forEach((key) => {
        state[key]['quantity'] = 0;
        state[key]['discount'] = 0;
        });
    });
</script> 

{% endblock %}

{% block context %}

<div id='submit_button'></div>
<form action="" method="get" class="form">
  {% bootstrap_form form %}
 
</form>
{% endblock %}
