

{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Переучет {% endblock %}
{% block h %} Переучет {% endblock %}
{% block context %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'confirm_inventories'%}" role="button">Подтвердить переучет</a></p>
{% endblock %}
{% block content %}
   


<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% if formset.non_form_errors %}
        <ul>
        {% for error in formset.non_form_errors %}
            <li><em>{{ error|escape }} </em></li>
        {% endfor %}
    </ul>
    {% endif %}





    <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Товар</th>
            <th>Ожидаемое количество</th>
            <th>Факт</th>
            
          </tr>
        </thead>
        <tbody>

    {% for form in formset %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li><em>{{ error|escape }} </em></li>
            {% endfor %}
    </ul>
        {% endif %}

       <tr>
        {% for field in form.visible_fields %}
            {% if field.errors %}
    <ul>
                {% for error in field.errors %}
                    <li><em>{{ error|escape }}</em></li>
                {% endfor %}
    </ul>
            {% endif %}
            <td>{{ field }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody></table>


    <input type="submit" vаluе="Сохранить" class="btn btn-secondary">
    </form>

    
{% endblock %}