

{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Переучет {% endblock %}
{% block h %} Переучет {% endblock %}
{% block context %}
{% if user.is_staff %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'add_inventories2'%}" role="button">Добавить переучет</a></p>
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'confirm_inventories'%}" role="button">Подтвердить переучет</a></p>
{% endif %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'inventories_result'%}" role="button">Посмотреть результат</a></p>

{% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/change_inventories.js' %}"></script>

<script type="text/javascript">
  const state = {{ js_data|safe }};
</script> 




    <div>* Данные не сохранятся если вы не нажмете кнопку "Сохранить"</div>
    <div>** Сохранение данных не окончательно. Переучет можно будет отредактировать (доделать) и после сохранения.</div><div id='submit_button'></div>
{% endblock %}
