
{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Товары {% endblock %}
{% block h %} Товары {% endblock %}



{% block content %}

   
    {% if products %}
    <div>Стоимость товаров: {{ sale_sum }} грн.</div>
    <div>Закупочная cтоимость товаров: {{ purchase_sum }} грн.</div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Остаток</th>
          <th>Цена магазин</th>
          <th>Цена интернет</th>
          <th>Цена опт</th>
          <th>Цена покупки</th>
  
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for product in products %}
    <tr>
    <td>
      {% if user.is_staff %}
 <a href="{% url 'product_update' product.id %}">{{ product.name }}</a> 
  {% else %}
  {{ product.name }}
{% endif %}
     
    </td>
    <td>{{ product.quantity }} шт.</td> 
    <td>{{ product.shop_price }} грн.</td>
    <td>{{ product.internet_price }} грн.</td>
    <td>{{ product.wholesale_price }} грн.</td> 
    <td>{{ product.purchase_price }} грн.</td> 
  
      <td>{% if user.is_staff %}
<a href="{% url 'product_delete' product.id %}">Удалить</a>

{% endif %}
       
      
      </td>
       
          </tr>
  {% endfor %}
</tbody>
</table>

  {% else %}
    <p>Товаров нет. Зайдите позже. </p>
    
  {% endif %}  
  


  
    
{% endblock %}

{% block context %}
{% if user.is_staff %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'product_create'%}" role="button">Добавить товар</a></p>
{% endif %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'download_products' %}" role="button">Скачать goods.xlsx</a></p>
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'products' %}" role="button">Активные товары</a></p>
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'not_active_products' %}" role="button">Неактивные товары</a></p>
<form action="" method="get" class="form">
  {% bootstrap_form filter.form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Фильтр
    </button>
  {% endbuttons %}
</form>
{% endblock %}