
{% extends "base.html" %}

{% block content %}

   
    {% if products %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Остаток</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for product in products %}
    <tr>
    <td><a href="{% url 'product_update' product.id %}">{{ product.name }}</a> </td><td>{{ product.shop_price }} грн.</td> 
    <td>{{ product.quantity }} шт.</td> 
    <td>  <a href="{% url 'product_delete' product.id %}">Delete</a></td>
       
          </tr>
  {% endfor %}
</tbody>
</table>
  {% else %}
    <p>You don't have any products. </p>
    
  {% endif %}  
  <p><a href="{% url 'product_create'%}?next={{request.path}}">New product</a></p>


  
    
{% endblock %}