

{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Продажи Интернет {% endblock %}
{% block h %} Продажи Интернет {% endblock %}
{% block context %}<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'add_sales_internet' %}" role="button">Добавить Продажу</a></p>
 
{% endblock %}
{% block content %}
   



    {% if sales %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Скидка :-(</th>
           <th>Стоимость</th>
          <th>Отдел</th>
          <th>Дата</th>
          <th>Менеджер</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for sale in sales %}
    <tr>
    <td>  {% if user.is_staff %}
      <a href="{% url 'sale_update' sale.id %}">{{ sale.product }}</a>
       {% else %}
       {{ sale.product }}
     {% endif %}</td>
    <td>{{ sale.quantity }} шт.</td> 
    <td>{{ sale.product.internet_price }} грн.</td>
    <td>{{ sale.internet_discount }}</td>
    <td> {{ sale.cost }} грн.</td>
    <td>{{ sale.department }}</td>
    <td>{{ sale.date }}</td>
    <td>{{ sale.manager }}</td>
    <td>  <a href="{% url 'sale_delete' sale.id %}">Удалить</a></td>
       
          </tr>
  {% endfor %}

  </tbody>
</table>
<div>Стоимость продаж: {{ sum }} грн.</div>
  {% else %}
    <p>Еще ничего не продано :-(</p>
    
  {% endif %}  



  
    
{% endblock %}