{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  
    <button type="submit">
      Add invoice
    </button>
  
</form>



    <h3>Invoices list:</h3>
    {% if invoices %}
    {% for invoice in invoices %}
    <div>
      <div>
        <div>
          <div><div><a href="{% url 'invoice' invoice.id %}">{{ invoice.name }}</a></div></div>
          <div><div><a href="{% url 'invoice_update' invoice.id %}">Edit</a> <a href="{% url 'invoice_delete' invoice.id %}">Delete</a></div></div>
        </div>
      </div>
      

     

    </div>
    
  {% endfor %}
  {% else %}
    <p>You don't have any invoices. </p>
    
  {% endif %}  
  
{% endblock %}
  