

{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Продажи {% endblock %}
{% block h %} Продажи {% endblock %}
{% block context %}<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'sale_create'%}" role="button">Добавить Продажу</a></p>

{% endblock %}
{% block content %}
   



    {% if object_list %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th>Отдел</th>
          <th>Дата</th>
          <th>Менеджер</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for sale in object_list %}
    <tr>
    <td><a href="{% url 'sale_update' sale.id %}">{{ sale.product }}</a> </td>
    <td>{{ sale.quantity }} шт.</td> 
    <td>{{ sale.price }} грн.</td>
    <td>{{ sale.department }}</td>
    <td>{{ sale.date }}</td>
    <td>{{ sale.manager }}</td>
    <td>  <a href="{% url 'sale_delete' sale.id %}">Delete</a></td>
       
          </tr>
  {% endfor %}
  <tr><td colspan="7"> {{ sum }}</td></tr>
  </tbody>
</table>
  {% else %}
    <p>You don't have any sales. </p>
    
  {% endif %}  

  <ul>
    {% for article in object_list %}
        <li>{{ article.date|date:"F j, Y" }}: {{ article.product }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}
</p>

  
    
{% endblock %}