
{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Активы {% endblock %}
{% block h %} Активы {% endblock %}
{% block context %}<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'asset_create'%}" role="button">Добавить актив</a></p>{% endblock %}



{% block content %}

   
    {% if assets %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Сумма</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for asset in assets %}
    <tr>
    <td><a href="{% url 'asset_update' asset.id %}">{{ asset.name }}</a> </td><td>{{ asset.amount }} грн.</td> 
    <td>  <a href="{% url 'asset_delete' asset.id %}">Delete</a></td>
       
          </tr>
  {% endfor %}
</table>
<div>Сумма активов: {{ sum }} грн.</div>
  {% else %}
    <p>You don't have any assets. </p>
    
  {% endif %}  
  


  
    
{% endblock %}