
{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Трансферы {% endblock %}
{% block h %} Трансферы {% endblock %}
{% block context %}
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'transfer_create'%}" role="button">Добавить Трансфер</a></p>
<p><a class="btn btn-secondary btn-lg btn-block" href="{% url 'terminal_create'%}" role="button">Добавить Терминал</a></p>
{% endblock %}

{% block content %}

   
    {% if transfers %}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Действие</th>
          <th>Учетный период</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for transfer in transfers %}
    <tr>
    <td><a href="{% url 'transfer_update' transfer.id %}">{{ transfer.name }}</a> </td>
    <td>С {{ transfer.asset_from.name }} в {{ transfer.asset_to.name }} перешло {{ transfer.amount }}  грн.</td>
    <td>{{ transfer.period }}</td> 
    <td>  <a href="{% url 'transfer_delete' transfer.id %}">Delete</a></td>
       
          </tr>
  {% endfor %}
  </tbody>
</table>
  {% else %}
    <p>You don't have any transfers. </p>
    
  {% endif %}  
  

    
{% endblock %}