{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %} Добавить трансфер {% endblock %}
{% block h %} Добавить трансфер {% endblock %}
{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
  
  {% bootstrap_form form %}

  
{% buttons %}
<button type="submit" class="btn btn-secondary">
  Добавить трансфер
</button>
{% endbuttons %}
  
</form>


<script type="text/javascript">
const sumChange = (e) => {
  const $amount = $('#id_amount');
  const assetName = $('#id_asset_from option:selected').html();
  const re = /\(.*\)$/gm;
  const amount = assetName.match(re)[0].slice(1, -1);
  $amount.val(amount);
}
$assetFrom = $('#id_asset_from');
$assetFrom.on('change', sumChange);
</script>



   
  
{% endblock %}
  